
.rainbow {
    animation: rainbow 5s ease-in-out infinite;
    border-radius: 85px 0 0 0; /* Half of 170px */
    box-shadow: 
        #FB323C -1px -1px 0 0.5px, /* Half of all values */
        #F99716 -2px -2px 0 1.5px,
        #FEE124 -3px -3px 0 2.5px,
        #AFDF2E -4px -4px 0 3.5px,
        #6AD7F8 -5px -5px 0 4.5px,
        #60B1F5 -6px -6px 0 5.5px,
        #A3459B -7px -7px 0 6.5px;
    height: 35px; /* Half of 70px */
    width: 35px;  /* Half of 70px */
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 30px;
    transform: rotate(40deg);
}
.rainbow:after {
    animation: rainbow_shadow 5s ease-in-out infinite;
    background: #000000;
    border-radius: 50%;
    content: '';
    opacity: 0.2;
    height: 7.5px;
    width: 60px; 
    position: absolute;
    bottom: 0px; 
    left: 1.5px;    
    transform: rotate(-40deg);
    transform-origin: 50% 50%;
}
@keyframes rainbow {
    50% { transform: rotate(50deg); }
}
@keyframes rainbow_shadow {
    50% { transform:  rotate(-50deg) translate(5px) scale(.7); opacity: 0.05; }
}